ul {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    flex-wrap: wrap;
}

.typeIcons{
    display: inline;
}

.pokemoncard h1{
    display: inline-flex;
}

.waterTypePokemon{
    content: '';
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/0b/Pok%C3%A9mon_Water_Type_Icon.svg);
    width: 19px;
    height: 19px;
    display: inline-flex;
    float: right;
}

.fireTypePokemon{
    content: '';
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/56/Pok%C3%A9mon_Fire_Type_Icon.svg);
    width: 19px;
    height: 19px;
    display: inline-flex;
    float: right;
}

.psychicTypePokemon{
    content: '';
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/ab/Pok%C3%A9mon_Psychic_Type_Icon.svg);
    width: 19px;
    height: 19px;
    display: inline-flex;
    float: right;
}

.fairyTypePokemon{
    content: '';
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/08/Pok%C3%A9mon_Fairy_Type_Icon.svg);
    width: 19px;
    height: 19px;
    display: inline-flex;
    float: right;
}

.grassTypePokemon{
    content: '';
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/f/f6/Pok%C3%A9mon_Grass_Type_Icon.svg);
    width: 19px;
    height: 19px;
    display: inline-flex;
    float: right;
}

.darkTypePokemon{
    content: '';
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/09/Pok%C3%A9mon_Dark_Type_Icon.svg);
    width: 19px;
    height: 19px;
    display: inline-flex;
    float: right;
}

li.pokemoncard img {
    width: 100%;
    padding: 10px 0px;
    display: flex;
}

li.pokemoncard {padding: 10px;margin: 9px;color: white;border-radius: 15px;flex: 0 1 calc(20% - 60px);}

* {
    margin: 0px;
    font-family: sans-serif;
    padding: 0px;
    list-style-type: none;
}

li.moveset p:first-child {
    font-weight: 700;
    display: inline-flex;
}

li.moveset span {
    border-bottom: 1px solid white;
    display: block;
    padding: 5px 0px;
    margin-bottom: 5px;
}

li.moveset::before {
    content: '';
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/0b/Pok%C3%A9mon_Water_Type_Icon.svg);
    width: 19px;
    height: 19px;
    display: inline-flex;
    z-index: 1;
}

li.pokemoncard a {
    color: white;
    text-decoration: none;
}

li.pokemoncard a h1 {
    font-size: 1rem;
}

li.pokemoncard a img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

li.pokemoncard:first-child {
    background-color: #3b9f3b;
    border: 10px solid #fee164;
}

li.pokemoncard:nth-child(2) {
    background-color: #db1515;
    border: 10px solid #ec9452;
}

li.pokemoncard:nth-child(3) {
    background-color: #1589db;
    border: 10px solid #ac72ae;
}

li.pokemoncard:nth-child(4) {
    background-color: #3b9f3b;
    border: 10px solid #fee164;
}

li.pokemoncard:nth-child(5) {
    background-color: #1589db;
    border: 10px solid #46bbec;
}

@media screen and (max-width: 1061px){
    li.pokemoncard {
    flex: 0 1 calc(50% - 60px);
}
}

@media screen and (max-width: 371px){
    li.pokemoncard {
    flex: 0 1 calc(100% - 40px);
}
}