body {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d9d9d9;
}

header div:nth-child(1) {
    height: 80px;
    display: flex;
    align-items: center;
    place-content: center;
    background-color: white;
}

header div:nth-child(2) {
    background-color: black;
    width: 100%;
    max-height: 45vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

header div:nth-child(2) a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0.4;
    filter: alpha(opacity=40);
    /* msie */
    background-color: #000;
    background-color: white;
}

header div:nth-child(2) a img:hover {
    cursor: pointer;
    opacity: 100%;
}

.hoverKleur {
    opacity: 1;
    filter: alpha(opacity=40);
    /* msie */
    background-color: #000;
}

.flip {
    transform: rotateY(1turn);
    transition: transform 0.8s;
    background-color: red;
    perspective: 1000;
}


.flip section {
    transform: rotateY(-180deg);
    transition: transform 0.8s;
    backface-visibility: hidden;
    transform-style: preserve-3d;

}

.pokemoncard1 {

    background-color: seagreen;
    height: 40px;
    width: 40px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform 0.4s;
}

ul#pokemoncards {
    margin: 20px 10%;
    background-color: white;
    border-radius: 10px;
    justify-content: center;
}


ul li {
    position: relative;
    width: 100%;
}

li section {
    content: '';
    height: 100%;
    width: 100%;
    background-color: #193866;
    z-index: 10000;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background-image: url('../images/backside.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 10px;
    border-radius: 5px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform 0.4s;
}

/* @keyframes monFrame {
    0%   {z-index: 2,}
    50%  {}
    100% {}

   }  */

/* Cards */
ul {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    flex-wrap: wrap;
}

main {
    width: 100%;
}

li a ul {
    font-size: 0.8rem;
}

.typeIcons {
    display: inline;
}

.pokemoncard h2 {
    display: inline-flex;
}

.waterTypePokemon {
    content: '';
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/0b/Pok%C3%A9mon_Water_Type_Icon.svg);
    width: 19px;
    height: 19px;
    display: inline-flex;
    float: right;
}

.fireTypePokemon {
    content: '';
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/56/Pok%C3%A9mon_Fire_Type_Icon.svg);
    width: 19px;
    height: 19px;
    display: inline-flex;
    float: right;
}

.psychicTypePokemon {
    content: '';
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/ab/Pok%C3%A9mon_Psychic_Type_Icon.svg);
    width: 19px;
    height: 19px;
    display: inline-flex;
    float: right;
}

.fairyTypePokemon {
    content: '';
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/08/Pok%C3%A9mon_Fairy_Type_Icon.svg);
    width: 19px;
    height: 19px;
    display: inline-flex;
    float: right;
}

.grassTypePokemon {
    content: '';
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/f/f6/Pok%C3%A9mon_Grass_Type_Icon.svg);
    width: 19px;
    height: 19px;
    display: inline-flex;
    float: right;
}

.darkTypePokemon {
    content: '';
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/09/Pok%C3%A9mon_Dark_Type_Icon.svg);
    width: 19px;
    height: 19px;
    display: inline-flex;
    float: right;
}

li.pokemoncard img {
    width: 100%;
    padding: 10px 0px;
    display: flex;
}

li.pokemoncard {
    padding: 10px;
    margin: 9px;
    color: white;
    border-radius: 15px;
    flex: 0 1 calc(20% - 60px);
    border: 10px solid #fee164;
}

* {
    margin: 0px;
    font-family: sans-serif;
    padding: 0px;
    list-style-type: none;
}

li.moveset p:first-child {
    font-weight: 700;
    display: inline-flex;
}

li.moveset span {
    border-bottom: 1px solid white;
    display: block;
    padding: 5px 0px;
    margin-bottom: 5px;
    width: 100%;
}

li.moveset::before {
    content: '';
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/0b/Pok%C3%A9mon_Water_Type_Icon.svg);
    width: 19px;
    height: 19px;
    display: inline-flex;
    z-index: 1;
}

li.pokemoncard a {
    color: white;
    text-decoration: none;
}

li.pokemoncard a h2 {
    font-size: 0.8rem;
}

li.pokemoncard a img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

li.pokemoncard:first-child {
    background-color: #3b9f3b;
}

li.pokemoncard:nth-child(2) {
    background-color: #ec9452;
}

li.pokemoncard:nth-child(3) {
    background-color: #ac72ae;
}

li.pokemoncard:nth-child(4) {
    background-color: #3b9f3b;
}

li.pokemoncard:nth-child(5) {
    background-color: #46bbec;
}

header div a {
    width: 20%;
}

@media screen and (max-width: 1061px) {
    li.pokemoncard {
        flex: 0 1 calc(50% - 60px);
    }
}