body {
    background-color: red;
    place-items: center;
    display: grid;
}
header {
    background-color: black;
    width: 80vw;
    height: 60vh;
    margin: 10vh;
    display: flex;
    flex-direction: row; 
}

header img {
    width: 20%;
    height: auto;
    object-fit: contain;
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
    background-color: #000;
}

header img:hover {
    cursor: pointer;
    opacity: 100%;
}

.hoverKleur {
    opacity: 1;
    filter: alpha(opacity=40); /* msie */
    background-color: #000;
}

.flip {
    transform: rotateY(180deg);
    transition: transform 0.8s;

}

.pokemoncard1  {
    background-color:seagreen;
    height: 40px;
    width: 40px;

}