/* Variabalen */

:root{
    --primary-color:rgb(131, 103, 231);
    --secondary-color:rgb(84, 70, 138);
    --font-color: #303044;
    --bg-color: #ffffff;
    --heading-color: #18337c;
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}

*{
    margin:0px;
    padding:0px;
    list-style-type: none;
    font-family: system-ui;
}

header {
    height: 60vh;
}

body {
    background-color: var(--primary-color);
}

body header div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

body header div button {
    width: 50px;
    margin: 5px 15px;
}

header nav ul {
    display: flex;
    height: inherit;
    margin: 10px 0px 0px 10px;
    gap: 1em;
    overflow-x: auto;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
}

header nav ul::-webkit-scrollbar {
    display: none;
}

header nav ul li {
    width: 250px;
    background-color: var(--bg-color);
    border-radius: 10px;
    flex: 0 0 auto;
    margin-bottom: 10px;
    padding: 10px;
}

nav {height: 50vh;}

nav ul li a span {
    color: var(--font-color);
}

header div h1 {
    color: var(--heading-color);
}

/* main */
body main {
    background-color: var(--bg-color);
    border-radius: 20px 20px 0px 0px;
    height: 40vh;
    padding: 20px;
}

/* main */
body main {
    background-color: var(--bg-color);
    border-radius: 20px 20px 0px 0px;
    height: auto;
    padding: 20px;
}

.active{
    /* transform:scale(1.1); */
    transition-duration: 1s;
    cursor:grabbing;
}